@inherits ComponentBase

@if (NewTab)
{
    <a href="@Destination" target="_blank">
            @ChildContent
    </a>
}
else
{
    <a @onclick="Navigate">
        @ChildContent
    </a>
}

@code {
    [Inject] private NavigationManager NavigationManager { get; set; }

    [Parameter] public string Destination { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool NewTab { get; set; } = false;

    private void Navigate()
    {
        string dest = Destination;

        if(dest[0] == '.')
        {
            Console.WriteLine(NavigationManager.BaseUri);
            dest = NavigationManager.Uri + dest.Substring(1);
        }

        if (NewTab)
        {
            NavigationManager.NavigateTo(dest, forceLoad: true); // open in new tab
        }
        else
        {
            NavigationManager.NavigateTo(dest); // open in same tab
        }
    }
}
