@inherits LayoutComponentBase
@inject AppTheme theme
@inject ColorUtility colors

<div class="container">
    <aside class="sidebar" style="@border">
        <NavLink href="anotacao">

            <Acadebutton Color="@colors.BackgroundAccent">
                <div><Acadeicon Color="@colors.Text.Primary" Icon="Acadeicon.IconType.Note" /></div> Anotações & Resumos
            </Acadebutton>
        </NavLink>
    </aside>
    <main class="content">
        @Body
    </main>
</div>

@code {
    private string border => $"border-right:  2px dashed {colors.Primary}94";
    [Inject] private NavigationManager Nav { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            theme.IsDarkMode = await theme.IsBrowserDarkMode();
            await theme.ListenForThemeChanges();
        }
    }

    protected override void OnInitialized()
    {
        theme.OnChange += StateHasChanged;
    }

    private void NavigateTo(string path)
    {
        Nav.NavigateTo(path);
    }
}