@page "/note"
@using Acadenode.Core.Models
@using Acadenode.Core.Repositories
@inject INoteRepository _repo

@if (notes == null)
{
    <PageTitle>Carregando...</PageTitle>
    <LoadingMessage />
}
else
{
    <PageTitle>Notes</PageTitle>
    @foreach(var note in notes)
    {
        <div class="card">
            <div class="card-header">
                @note.Title (@note.Id)
            </div>
            <div class="card-body">
                @note.Content
            </div>
        </div>
    }
}

@code {
    private IEnumerable<Note>? notes;

    protected override async Task OnInitializedAsync()
    {
        notes = await _repo.GetAllNotesAsync();
    }
}