@page "/register"
@using Acadenode.Core.Models
@using Acadenode.Core.Services
@inject IAuthService auth


<h3>Register</h3>

<InputText @bind-Value="Name" Placeholder="Name" />
<InputText @bind-Value="Username" Placeholder="Username" />
<InputText @bind-Value="Email" Placeholder="Email" />
<InputText @bind-Value="Password" Placeholder="Password" />

<Acadebutton OnClick="RegisterUser">Register</Acadebutton>

<p>@Response</p>

@code {
    private string Name, Username, Email, Password, Response = "";

    private async Task RegisterUser()
    {
        var user = new User
        {
            Name = Name,
            UserName = Username,
            Email = Email,
            Password = Password,
            Role = Roles.User
        };

        var model = new RegistrationModel
            {
                Name = Name,
                Username = Username,
                Email = Email,
                Password = Password
            };

        var (code, message) = await auth.Registeration(model);
        Response = $"{code} - {message}";
    }
}
